<div class="row">
  <div class="col">
    <select class="form-control" [(ngModel)]="mercaderista">
      <option disabled>Seleccione</option>
      <option value="{{item.nit}}" *ngFor="let item of vidas">{{item.nombres}}</option>
    </select>
  </div>
  <div class="col">
    <mat-form-field style="width: 100%;">
      <mat-label>MES Y AÑO</mat-label>
      <input matInput [matDatepicker]="dp" [formControl]="date">
      <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
      <mat-datepicker #dp startView="multi-year" (yearSelected)="chosenYearHandler($event)"
        (monthSelected)="chosenMonthHandler($event, dp)" panelClass="example-month-picker">
      </mat-datepicker>
    </mat-form-field>
  </div>
  <div class="col">
    <button class="btn btn-success" (click)="cargarRuta()" >Enviar</button>
  </div>
</div>

<br>

<div class="animated fadeIn">
  <tabset>
    <tab>
      <ng-template tabHeading><i class="icon-calculator"></i> Proveedor</ng-template>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Proveedor</th>
              <th scope="col">Cantidad</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let p of presupuestoP">
              <td>{{p[1]}}</td>
              <td>{{p[2]}} UND</td>
            </tr>
          </tbody>
      </table>
    </tab>
    <tab>
      <ng-template tabHeading><i class="cui-list"></i> Cliente</ng-template>
      <ngb-accordion *ngFor="let c of presupuestoC">
        <ngb-panel>
          <ng-template ngbPanelHeader>
            <button ngbPanelToggle class="btn btn-link w-100 text-left">{{c[1]}}</button>
          </ng-template>
          <ng-template ngbPanelContent>
            <table class="table">
              <tr *ngFor="let d of c.det">
                <td>{{d[0]}}</td>
                <td>{{d[1]}} UND</td>
              </tr>
            </table>

          </ng-template>
        </ngb-panel>
      </ngb-accordion>
    </tab>
  </tabset>
</div>



<!-- <ngb-accordion #acc="ngbAccordion" type="light" activeIds="ngb-panel-{{i}}">
  <ngb-panel id="myPanel">
    <ng-template ngbPanelHeader>
      <div (click)="acc.toggle('myPanel')">{{det.nombres}}</div>
      <div *ngIf="item.id.includes('T')">
        <button type="button" class="btn btn-light" data-toggle="modal" (click)="myModal.show()">
          <i class="fas fa-truck" style="color: #268ada;
          "></i>
       </button>
       <div bsModal #myModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
       aria-labelledby="myModalLabel" aria-hidden="true">
       <div class="modal-dialog" role="document">
         <div class="modal-content">
           <div class="modal-header">
             <h4 class="modal-title">Transportadora</h4>
             <button type="button" class="close" (click)="myModal.hide()" aria-label="Close">
               <span aria-hidden="true">&times;</span>
             </button>
           </div>
           <div class="modal-body">
             <form [formGroup]="empForm">
               <h5>Empresa transportadora</h5>
               <select formControlName="empresaTransp">
                 <option>dd</option>
                 <option>rr</option>
               </select>
             </form>
           </div>
           <div class="modal-footer">
             <button type="submit" class="btn btn-primary" (click)="guardarEmpT(item.id)">Guardar
               cambios</button>
             <button type="button" class="btn btn-secondary" (click)="myModal.hide()">Close</button>
           </div>
         </div>
       </div>
     </div>
      </div>
    </ng-template>
    <ng-template ngbPanelContent>
      <div *ngIf="item.id.includes('N') || item.id.includes('S') || item.id.includes('A')">
        <form class="form-inline">
          <div class="form-group" *ngFor="let detAlm of det.detAlm">
            {{detAlm.proveedor}} - OC : {{detAlm.oc}} <br> <br><br>

            <form [formGroup]="enviarForm" (ngSubmit)="dato(detAlm.numPedido)" style="position: relative;
              right: 195px;
              top: 22px; ">
              <div *ngIf="detAlm.factura === null">
               <input type="number" formControlName="factura"
                  value="{{detAlm.factura}}" id="factura" class="form-control mx-sm-3"
                  aria-describedby="passwordHelpInline" placeholder="Ingresar factura" onwheel="this.blur()" />
              </div>
              <div *ngIf="detAlm.factura !== null">
                <input type="number" value="{{detAlm.factura}}"
                  id="numeroFactura" class="form-control mx-sm-3"  disabled>
              </div>
            </form>

            <button type="button" style="position: relative; left: -175px; top: 16px;" class="btn btn-secondary mr-1" data-toggle="modal" (click)="myModal.show()">
              <i class="fas fa-info-circle"></i>
            </button>
            <div bsModal #myModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title">{{detAlm.proveedor}}
                      <br>
                     OC:  {{detAlm.oc}}
                    </h4>
                    <button type="button" class="close" (click)="myModal.hide()" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                   <h5> Seleccciona el motivo por el cual no se despacha el pedido</h5>
                    <form [formGroup]="observacionesForm">
                    <div class="btn-group" data-toggle="buttons">
                      <label class="btn btn-primary">
                        <input type="radio"  formControlName="observaciones" value="NO CUMPLE VALOR MINIMO">No cumple valor minimo
                      </label>
                      <label class="btn btn-primary" style="position: relative;
                      right: -20px;">
                        <input type="radio" value="BLOQUEADO CARTERA"  formControlName="observaciones">Bloqueado cartera
                      </label>
                    </div>


                  </form>
                  </div>
                  <div class="modal-footer">
                    <button type="submit" (click)="guardarObs(detAlm.id)" class="btn btn-primary">Guardar cambios</button>
                    <button type="button" class="btn btn-secondary" (click)="myModal.hide()">Close</button>
                  </div>
                </div>
              </div>
             </div>
          </div>
        </form>
      </div>

     <div *ngIf="item.id.includes('T')">
        <form class="form-inline">
          <div class="form-group" *ngFor="let detAlm of det.detAlm">
            <label for="inputPassword6"><br>{{detAlm.proveedor}} O.C : {{detAlm.oc}}<br><br><br>
            </label>
            <form [formGroup]="enviarForm" (ngSubmit)="dato(detAlm.numPedido)" style="position: relative;
              right: 195px;
              top: 22px; ">
              <div *ngIf="detAlm.factura === null">
                <br><input type="number" formControlName="factura" value="{{detAlm.factura}}" id="numeroFactura"
                  class="form-control mx-sm-3" aria-describedby="passwordHelpInline" style="width: 65%;"
                  placeholder="Ingresar factura" onwheel="this.blur()" />
              </div>
              <div *ngIf="detAlm.factura !== null">
                <br><input type="number" value="{{detAlm.factura}}" id="numeroFactura" style="width: 65%;"
                  class="form-control mx-sm-3" disabled>
              </div>
            </form>
            <form [formGroup]="guardarForm" (ngSubmit)="enviarNumeroGuia(detAlm.id)"
              style="position: relative; left: -235px; top: 30px;">
              <input type="number" formControlName="numeroguia" value="{{detAlm.numeroguia}}" id="numeroguia"
                class="form-control mx-sm-3" style="width: 55%;" placeholder="# Guía" onwheel="this.blur()" />
            </form>
          </div>
        </form>
      </div>
    </ng-template>
  </ngb-panel>
</ngb-accordion> -->
