<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-5 mx-auto">
          <div class="card-group">
            <div class="card p-4">
              <div class="card-body">
                <!--
                   <form class="form-signin">
                <input type="text" class="form-control" placeholder="Usuario" required autofocus [(ngModel)]="user" name="txtuser">
                <input type="password" class="form-control" placeholder="Contraseña" required [(ngModel)]="password" name="txtpass">
                <button class="btn btn-lg btn-primary btn-block" type="submit" (click)="onclicksingin()">
                    Ingresar</button>        
                </form>
                -->
                <form>
                  <h1 style="text-align: center;">Login</h1>
                 
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-user"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Usuario" autocomplete="Usuario" required autofocus [(ngModel)]="user" name="txtuser">
                  </div>
                  <div class="input-group mb-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-lock"></i></span>
                    </div>
                    <input type="password" class="form-control" placeholder="Contraseña" autocomplete="Contraseña"  required [(ngModel)]="password" name="txtpass">
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <button type="submit" class="btn btn-primary px-4" (click)="onclicksingin()">Ingresar</button>
                    </div>
                  
                  </div>
                </form>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
