<div class="animated fadeIn">
    <div class="row">
        <div class="col-sm-12 col-xl-6">
            <div class="card">
                <div class="card-body">
                    <ngb-datepicker #dp [(ngModel)]="model" (click)="mostrar()"></ngb-datepicker>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <table class="table">
                        <tr *ngFor="let agen of agendados">
                            <td>{{agen}}</td>
                            <td><button class="btn btn-danger btn-pill active" (click)="quitar(agen)" value="{{agen}}"><i class="fas fa-times"></i></button></td>
                        </tr>
                    </table>

                    <button class="btn btn-primary" (click)="guardar()">Guardar</button>
                    <div *ngIf="result === true">
                        PEDIDOS CORRECTAMENTE AGENDADOS
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-xl-6">
            <div class="card">
                <div class="card-body">
                    <label for="">Proveedor</label>
                    <select [(ngModel)]="proveedor" class="form-control">
                        <option>Seleccione</option>
                        <option *ngFor="let mar of marca" value="{{mar.nombre}}">{{mar.nombre}}</option>
                    </select>
                    <label for="">Cliente</label>
                    <input #newAgen class="form-control" type="text" placeholder="Cliente" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let option of filteredref | async" [(value)]="option.nombres" (click)="addCli(newAgen.value); newAgen.value = ''">
                            {{option.nombres}}
                        </mat-option>
                    </mat-autocomplete>

                    <div *ngIf="terceros.length === 0">
                        <div class="alert alert-danger" role="alert">NO HAY SUGERIDOS</div>
                    </div>
                    <div id="spy-example2" data-spy="scroll" data-target="#list-example" data-offset="0" style="height: 500px; overflow: auto">
                        <table class="table">
                            <tr *ngFor="let ter of terceros">
                                <td>{{ter.nombres}}</td>
                                <td>
                                    <button class="btn btn-pill btn-success active" name="miDataInterior" (click)="agregar(ter.nombres)" value="{{ter.nit}}">
                                        <i class="fas fa-plus"></i>
                                    </button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
