<form [formGroup]="formEst">
    <div class="row">
        <div class="col-3">
            <select class="form-control" name="" id="" formControlName="mar">
              <option value="" disabled>Seleccione Proveedor..</option>
              <option *ngFor="let item of marca" value="{{item.id}}">{{item.nombre}}</option>
            </select>
        </div>
        <div class="col-2">
            <button class="btn btn-success" (click)="consultar(formEst.value); successModal.show();">Crear Preorden <i class="fas fa-play"></i></button>
        </div>
    </div>
</form>
<br>
<div class="card">
    <div class="card-header">
        <i class="fa fa-align-justify"></i> Ordenes de Compra
    </div>
    <div class="card-body" *ngIf="preOrc.length > 0">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>NUM ORC</th>
                    <th>PROVEEDOR</th>
                    <th>(DIA-MES-AÑO)</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of preOrc">
                    <td><a href="#/abastecimiento/detalle/{{item.pedKey.numero}}/{{item.tipo}}">{{item.pedKey.numero}}</a></td>
                    <td>{{item.tercero.nombres}}</td>
                    <td>{{item.fecha| date:'dd-MM-yyyy'}}</td>
                </tr>
            </tbody>
        </table>

    </div>
    <div class="card-body" *ngIf="preOrc.length == 0">
        NO HAY ORDENES DE COMPRA
    </div>
</div>

<div bsModal #successModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-success" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Creando Preorden</h5>
                <button type="button" class="close" id="closeC" data-dismiss="modal" aria-label="Close" (click)="successModal.hide(); loading = false;">
      <span aria-hidden="true">&times;</span>
    </button>
            </div>
            <form>
                <div class="modal-body">
                    <div class="" *ngIf="loading" class="mx-auto d-block">
                        <img src="../../../../assets/img/loading.gif"> Cargando...
                    </div>
                    <div class="" *ngIf="t" class="mx-auto d-block">
                        <div class="alert alert-success" role="alert">
                            Creorden creada exitosamente!
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-success" (click)="successModal.hide(); t = false">
                    Aceptar
                  </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
