<div class="animated fadeIn">
    <tabset>
        <tab>
            <ng-template tabHeading><i class="icon-people"></i> Requerimientos del Proveedor</ng-template>
            <app-proveedor></app-proveedor>
        </tab>
        <tab>
            <ng-template tabHeading><i class="cui-tags"></i> Tipo de Referencia</ng-template>
            <app-referencias></app-referencias>
        </tab>
    </tabset>
</div>
