<div class="card">
    <div class="card-header">
        <i class="fa fa-align-justify"></i> Ordenes de Compra
    </div>
    <div class="card-body" *ngIf="orc.length > 0">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>NUM ORC</th>
                    <th>PROVEEDOR</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of orc">
                    <td><button type="button" class="btn btn-secondary" data-toggle="modal" (click)="myModal.show(); asignar(item.pedKey.numero, item.tipo)">
                      {{item.pedKey.numero}}
                    </button></td>
                    <td>{{item.tercero.nombres}}</td>
                </tr>
            </tbody>
        </table>
        <!-- href="#/bodega/detalleRep/{{item.pedKey.numero}}/{{item.tipo}}" {{item.pedKey.numero}}-->
    </div>
    <div class="card-body" *ngIf="orc.length == 0">
        NO HAY ORDENES DE COMPRA
    </div>
</div>


<div bsModal #myModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-primary" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <!--<h4 class="modal-title">{{numero}}</h4>-->
                <h4>Ingrese el numero de la factura</h4>
                <button type="button" class="close" (click)="myModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <input type="text" class="form-control" [(ngModel)]="numFac" placeholder="Numero de Factura">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="myModal.hide()">Cerrar</button>
                <button type="button" class="btn btn-primary" (click)="guardarFac()">Guardar</button>
            </div>
        </div>
    </div>
</div>